<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Filter Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kh.filterpref</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable Filters</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kh.filterpref</string>
			<key>key</key>
			<string>debug</string>
			<key>label</key>
			<string>Debug Filters</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.kh.filterpref</string>
			<key>key</key>
			<string>adsFilter</string>
			<key>label</key>
			<string>Remove Ads</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.kh.filterpref</string>
			<key>key</key>
			<string>title</string>
			<key>label</key>
			<string>Title Filter Regex</string>
		</dict>
	</array>
	<key>title</key>
	<string>Hupu Post Filter</string>
</dict>
</plist>
